---
// {{ $sponsors := .previous_edition.sponsors }}
import { t } from '../i18n/i18n';
import SponsorsLogos from './SponsorsLogos.astro';
import Sponsor from './Sponsor.astro';

export interface Props {
  year: number;
}
const { year } = Astro.props;
const {host, protocol} = new URL(Astro.url);
const response = await fetch(`${protocol}//${host}/editions/${year}.json`);
const sponsors = await response.json();

---
<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    & > :is(h2,h3) {
      width: fit-content;
    }
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    & > * {
      min-width: 20%;
    }
  }
</style>
<section>
  <h2>Sponsors {year}</h2>
  <p>{t('previous_sponsors_thanks', year)}</p>

  { sponsors.sponsors?.chamois?.length ? <h3>Sponsor Chamois 🥇</h3> : '' }
  <div>
    { sponsors.sponsors?.chamois?.map((sponsor) => (<Sponsor title={sponsor.name} img=`/${sponsor.logo}` href={sponsor.url.fr} />)) }
  </div>

  { sponsors.sponsors?.etoile?.length ? <h3>Sponsors Étoile ⭐</h3> : '' }
  <div>
    { sponsors.sponsors?.etoile?.map((sponsor) => (<Sponsor title={sponsor.name} img=`/${sponsor.logo}` href={sponsor.url.fr} />)) }
  </div>

  { sponsors.sponsors?.meetgreet?.length ? <h3>Sponsors Meet&Greet ⭐</h3> : '' }
  <div>
    { sponsors.sponsors?.meetgreet?.map((sponsor) => (<Sponsor title={sponsor.name} img=`/${sponsor.logo}` href={sponsor.url.fr} />)) }
  </div>

  { sponsors.sponsors?.flocon?.length ? <h3>Sponsors Flocon ❄️</h3> : '' }
  <div>
    { sponsors.sponsors?.flocon?.map((sponsor) => (<Sponsor title={sponsor.name} img=`/${sponsor.logo}` href={sponsor.url.fr} />)) }
  </div>

  { sponsors.partners?.flocon?.length ? <h3>Partenaires</h3> : '' }
  <div>
    { sponsors.partners?.flocon?.map((sponsor) => (<Sponsor title={sponsor.name} img=`/${sponsor.logo}` href={sponsor.url.fr} />)) }
  </div>
</section>
